<!DOCTYPE html>
<html>
  <head>
    <title>BoutiqueEnLigne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/f99cab8fbe.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <header>
<!-------------------------------Navbar--------------------------------->
 
<nav class="navbar navbar-expand-lg navbar-light" style="background: #DE9B9B">
    <a class="navbar-brand" href="/"><%=link_to image_tag("logo.003.jpg", alt:"")%></a>
  <div class="container">
    <a class="Banner" href="#" Style="color: #FFFFFF"><h3>Chat Alors!</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Cart", user_your_cart_index_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Profile", user_your_cart_index_path(current_user), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log out", destroy_user_session_path, :class => "nav-link", :method => :delete %>
              </li>   
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign up', new_user_registration_path, class: "nav-link", 'data-toggle' => "modal", 'data-target' => "#modalSignup" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Log in', new_user_session_path, class: "nav-link", 'data-toggle' => "modal", 'data-target' => "#modalLogin" %>
              </li>
            <% end %>
          </ul>
      </ul>
    </div>
  </div>
</nav>

    </header>
    <%= yield %>
    <footer class="footer-distributed">
      <div class="footer-left">
        <h3>Chat<span>alors!</span></h3>
        <p class="footer-links">
        <a href="https://github.com/BeeJasmine/">Jasmine</a> 
        <a href="https://github.com/Arnaudboy">Arnaud</a>
        <a href="https://github.com/MelvynSwingler">Melvyn</a>
        <a href="">Flora</a>
        <a href="">Vanessa</a>
        <a href="">Lorry</a>
		    </p>
        <p class="footer-company-name">We love kittens</p>
        <br>
      </div>

	    <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p>Nice</p>
        </div>
		    <div>
			    <i class="fa fa-phone"></i>
			    <p>+33 6 88 02 66 43</p>
	    	</div>
	    	<div>
			    <i class="fa fa-envelope"></i>
			    <p><a href="mailto:">miaou@welovecats.com</a></p>
		    </div>
	    </div>
	    <div class="footer-right">
        <p class="footer-company-about">
          <span>About the company</span>
        </p>
		    <div class="footer-icons">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
          <a href=""><i class="fab fa-github"></i></a>
		    </div>
	    </div>
    </footer>
</html>
